<%-include("header");-%>
<div class="row item-details">
  <div class="col-md-8 col-sm-12">
    <h1 class="display-4 item-subject"><span><%=item.subject%></span>
      <button type="button" class="btn btn-info" disabled>
        دانلود شده <span class="badge badge-light">12</span>
      </button>
    </h1>
    <p class="item-lesson">درس:<span><%=item.lesson%></span></p>
    <p class="item-university">دانشگاه:<span><%=item.university%></span></p>

  </div>
  <div class="col-md-4 col-sm-12">
    <div class="jumbotron addCart">
      <h1 class="display-4 item-subject"><%=item.subject%> </h1>
      <p class="lead">فروشنده:</p>
      <p class="lead">امتیاز:</p>
      <hr class="my-4">
      <p class="item-price"><span class = "price-number">24,000</span>تومان </p>
      <hr class="my-4">
      <a class="btn btn-success btn-block" href="#" role="button">خرید و دانلود</a>
      <a class="btn btn-warning btn-block" href="#" role="button">گزارش</a>
    </div>


  </div>

</div>
<div class="bottom-bar">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab" aria-controls="nav-images" aria-selected="true">تصاویر</a>
      <a class="nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">نظرات</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">...</div>
    <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">...</div>
  </div>

</div>

<%-include("footer");-%>
