<%-include("header");-%>

<div class="list">
  <div class="row">
    <% questionsDataList.forEach(function(question) { %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card h-100">
          <div class="card-body">
            <img src="images/questions/PDF_logo.png" class="card-img-top" alt="pdf logo">
            <h5 class="card-title"><%= question.subject%></h5>
            <p class="card-text"><%= question.university%></p>
          </div>
          <div class="card-footer">
            <a href="/buyQ/<%= question.id %>" class="btn btn-success">خرید</a>
            <div class="popup">
              <p> خلاصه جزئیات</p>
              <div class="detail">
                  <%= question.subject %>
                  <%= question.university %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%-include("footer");-%>
